<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 object-fit-contain"
                style="height: 350px;"
                [src]="productDetails.image" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{productDetails.category}}</div>
                <h1 class="display-5 fw-bolder">{{productDetails.title}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <h4>Rating :
                        <span class="text-warning">
                            {{productDetails.rating.rate}}
                            <i class="fa-solid fa-sm fa-star"></i>
                        </span>
                        by {{productDetails.rating.count}} people
                    </h4>
                    <h3>${{productDetails.price}}</h3>
                </div>
                <p class="lead">{{productDetails.description}}</p>
                <div class="d-flex">
                    <button
                    (click)="addToWishlist(productDetails)"
                    class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to wishlist
                        
                    </button>
                    <button (click)="addToCart(productDetails)" class="btn ms-3 btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>